body{
  margin: 0;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
/*header*/
header{
  background: #007765;
  padding-bottom: 7px;
}

.loogoo{
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.logo{
  padding-top: 10px
}

#one{
  position: absolute;
}

#two{
  position: absolute;
}

ul.links-header{
  color: #eeee;
  margin-top: 10px;
  text-align: right;
}

ul.links-header li {
  display: inline;
  margin-right: 5px;
  padding: 3px;
  cursor: pointer;
}

.Jumbotorn{
  height: 403px;
  background: url(image.png);
}

#text1{
  margin: 0px;
  color: #eeee;
  text-align: center;
  font-size: 72px;
  padding-top: 165px;
}

#ph{
  font-size: 64px;
  text-align: center;
  color: #007765;
}

.The_problem{
  margin-left: 55px;
  margin-right: 55px;
}

.The_problem p{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
  max-width: 1400px;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}

.Hero{
  font-style: italic;
  background: url(1.png);
  font-size: 48px;
  color: #eeee;
}

.Hero p{
  max-width: 649px;
  max-height: 140px;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.PPC{
  margin-left: 55px;
  margin-right: 55px;
}

.PPC_content{
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
}

.PPC_content p{
  font-size: 32px;
  margin-right: auto;
  max-width: 1400px;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}

.box1{
  display: flex;
  justify-content: left;
}

.box1 p{
  margin-bottom: 0;
  padding-left: 20px;
}

#line{
  height: 115px;
  width: 115px;
}

.Team{
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 50px;
  background-color: #f2f0f0;
}

#ph2{
  font-size: 64px;
  text-align: center;
  color: #007765;
  padding-top: 55px;
}

.card{
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.cards button{
  width: 168px;
  height: 168px;
  border-radius: 100px;
}

.cards{
  padding-left: 100px;
  padding-bottom: 100px;
  padding-right: 100px;
  text-align: center;
}

#p1{
  color: #007765;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

#p2{
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.footer{
  background: #333333;

}

.footer p{
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #eeee;
  max-width: 800px;
}


@media (max-width: 650px){
  ul.links-header{
    color: #eeee;
    margin-top: 50px;
    text-align: left;
  }
}
