.nav-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 75px;
  min-height: 30px;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding: 12px 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-menu{
  display: flex;
  flex: 1;
}
.menu{
  color: #1f1f1f;
  padding-right: 12px;
  flex: 1;
  text-align: left;
  max-width: 1230px;

}


.nav-link {
    font-size: 20px;
    padding: 6px 8px;
    line-height: 24px;
    display: inline-block;
    text-decoration: none;
}

.nav-buttons{
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.button_one{
  padding-right: 16px;
  padding-left: 16px;
  margin-left: 0px;
  border-radius: 0px;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #cce5f3;
  color: #0070a0;
  margin-right: 8px;
}

.button_two{
  padding-right: 16px;
  padding-left: 16px;
  background-color: #0070a0;
  color: #fff;
}
