#section_four{
  position: relative;
  background-color: #f7f9fa;
  z-index: 0;
  padding-top: 80px;
  padding-bottom: 80px;
}

.tabs-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 30px;
  margin-right: auto;
  margin-left: auto;
}

.hhh2{
  max-width: 600px;
  margin-top: 0px;
  margin-bottom: 18px;
  font-size: 42px;
  line-height: 1.2em;
  font-family: Fraunces, sans-serif;
  font-weight: 500;
}

.tab-boxes{
  padding-right: 18px;
  padding-left: 18px;
}

.text-box2{
  margin-bottom: 16px;
  opacity: 0.9;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
}

#Icon{
  width: 32px;
  height: 32px;
  margin-right: 16px;
  margin-bottom: 8px;
}

h3{
  margin-top: 2px;
  margin-bottom: 16px;
  font-size: 21px;
  line-height: 1.2em;
  display: block;
  font-weight: 500;
}

.box{
  text-decoration: none;
  color: black;
  display: flex;
  width: 100%;
  padding: 16px 16px 8px 12px;
  border-top: 1px solid #c2cdd8;

}

.tab_image{
  width: 58.333333333333336%;
  height: 400px;
  justify-content: center;
  margin-top: -75px;
  padding-top: 145px;
  display: grid;
  grid-row-gap: 32px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 50px;
}
